
@{
    ViewBag.Title = "Index";
}

<h2>Lista Funcionario</h2>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Login</th>
        <th>Senha</th>
        <th>Editar</th>
    </tr>

    @foreach (var funcionario in ViewBag.ListaFuncionario)
    {
        <tr>
            <td>@funcionario.Id</td>
            <td>@funcionario.Nome</td>
            <td>@funcionario.Endereco</td>
            <td>@funcionario.Login</td>
            <td>@funcionario.Senha</td>
            <td ><a href="~/Funcionario/Cadastro/@funcionario.Id">Editar</a></td>
        </tr>
    }
</table>
